.upper-title {
    width: max-content;
    align-items: center;
    margin: 2em auto;
}

.upper-title-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 3em;
}

.upper-title-input {
    border-radius: 3em;
}

.global-container {
    display: inline-block;
    margin: 2em;
}

.container {
    border: 1px solid black;
    width: max-content;
    margin: 2em;
    box-shadow: 3px 3px 4px 1px;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    padding: 1em;
    transition: all 1s ease-in;
}

.title {
    display: flex;
    align-items: center;
    gap: 0.7em;
    font-size: 1.5em;
    text-transform: capitalize;
    justify-content: center;
}

.form-title,
.container-btn,
.upper-title-input {
    display: flex;
    gap: 1em;
    height: 2em;
}

.form-title>input,
.upper-title-input>input {
    border-color: rgb(82, 195, 208);
}

.btn-submit {
    height: 1.5em;
    position: relative;
    top: 0.5em;
    background: rgb(101, 101, 192);
    color: white;
    border: none;
    border-radius: 0.3em;
}

.container-checkbox {
    display: flex;
    flex-direction: column;
}

.item-checkbox {
    display: flex;
    line-height: 2em;
    align-items: center;
    gap: 1em;
    font-size: 1em;
}

.pointer{
    cursor: pointer;
}